{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"react-hooks"
	],
	"rules": {
		"linebreak-style": "off",
		"import/no-anonymous-default-export": 0,
		"react-hooks/rules-of-hooks": "error",
		"react/display-name": 0,
		"react/prop-types": 0,
		"react/jsx-key": [
			"error",
			{
				"checkFragmentShorthand": true
			}
		],
		"eol-last": [
			"error",
			"always"
		],
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-shadow": "error",
		"@typescript-eslint/no-redeclare": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/ban-types": [
			"error",
			{
				"types": {
					"{}": false
				}
			}
		],
		"react/jsx-curly-brace-presence": [
			"error",
			{
				"props": "never",
				"children": "never"
			}
		],
		"@typescript-eslint/no-empty-function": "off",
		"react/jsx-no-bind": "off"
	}
}
